
/* Define the space-themed font to be used throughout */

@font-face {
	font-family: spaceFont;
	src: url(../../../assets/fonts/Ubuntu.ttf);
	weight: normal;
}

@font-face {
	font-family: spaceFont;
	src: url(../../../assets/fonts/Ubuntu-Bold.ttf);
	weight: bold;
}

@font-face {
	font-family: spaceFont;
	src: url(../../../assets/fonts/Ubuntu-Light.ttf);
	weight: light;
}

body {
  background-color: rgb(40, 44, 60);
	font-family: spaceFont, 'Open Sans', sans-serif;
	color: rgb(50, 50, 50);

}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    height: 201px;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.75);
    padding: 10px;
    border-radius: 5px;
}

#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.3;
}

.card {
    border: 0px solid rgba(0,0,0,.125);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(210, 210, 220);
}

.space_museum_logo {
  border-radius: 50%;
  background: #34588D;
  height: 40px;
  width: 40px;
  content:""
  border: 2px solid white;
  overflow: hidden;
  position: relative;
}

.space_museum_logo:after {
  border-radius: 50%;
  background: #34588D;
  height: 45px;
  width: 45px;
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  z-index: 2;
}

.space_museum_logo:before {
  border-radius: 200%;
  background: rgba(255,255,255,0.5);
  height: 60px;
  width: 60px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  transform: rotate(5deg);
  z-index: 1;
  animation: pulse 2s infinite alternate ease-in-out;
}

@keyframes pulse {
  0%   { opacity: 0.5 }
  100% { opacity: 0.8 }
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
    margin-top: 9px;
    margin-left: 15px;
}

.logo h1 {
    font-size: 29px;
}

.logo p {
    font-size: 14px;
}

/* Navigation Bar */

.navbar_space_museum {
	background-color: rgb(28, 32, 48);
    min-height: 70px;
}

.navbar_space_museum .navbar-brand {
    color: white;
 }

.navbar_space_museum .navbar-brand:hover {
    color: rgb(200, 200, 210);
}

/* Navigation Menu */

.navbar_space_museum .navbar-collapse {
	margin-top: 20px;
}

.navbar_space_museum .navbar-nav > li > a {
    color: white;
	padding-left: 10px;
}

/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_space_museum .navbar-nav > li > a:hover,
.navbar_space_museum .navbar-nav > li > a:focus {
    color: rgb(200, 200, 210);
}

.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 00px;
}

.navbar_space_museum .navbar-nav .nav-item > .active,
.navbar_space_museum .navbar-nav > .active > a:hover,
.navbar_space_museum .navbar-nav > .active > a:focus {
    color: white; /* Font color for active font */
    background-color: rgb(40, 44, 60); /* dark color for background */
	border-radius: 5px; /* round the corners */
}

/* Burger Menu */

.navbar_space_museum .navbar-toggler {
    border-color: white;
}

.navbar_space_museum  .navbar-toggler-icon {
	/* Draws the three horizontal lines */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_space_museum .navbar-toggler:hover {
	/* Dim the burger menu border on hover */
    border-color: rgb(220, 210, 210);
}

.navbar_space_museum .navbar-toggler {
    outline: none !important;
}

/* Dropdown Menu */

.dropdown-menu {
    text-align: -webkit-left;
    background-color: rgb(210, 210, 220);
    margin-top: 15px;
}

.dropdown-menu
.dropdown-item {
    color: black;
}

.dropdown-menu
.dropdown-item:hover {
    color: white;
    background-color: rgb(28, 32, 48);
}

/* Drinks Gallery */

.gallery {
    width: 100%;
}

.gallery .img-thumbnail {
    padding: 0.25rem;
    margin: 3px;
    background-color: rgb(195, 195,	208);
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 0.4rem;
    max-width: 31%;
    height: auto;
}

.gallery .img-thumbnail:hover {
	background-color: rgb(185, 185,	200);
}

/* Footer */

.footer {
    color: #FFF;
    background-color: rgb(28, 32, 48);
    height: 50px;
}

.navbar-text > a {
	color: white;
	padding: 5px;
    font-size: 10px;
    text-decoration: none;
}rgb(200, 200, 210)

.navbar-text > p {
    font-size: 10px;
    text-decoration: none;
}

.copyright {
    padding-top: 13px;
}

.social {
    padding-top: 0px;
}



/* Content */

.camera-btns {
    /* background-color: rgba(0, 0, 255, 0.3);  */
    border-color: black;
    border-style: solid;
    border-width: 0px;
    margin-top: 0px;
    padding: 0px;
}

.camera-btns > p  {
    font-size: 15px;
    color: red;
    padding: 5px 0px;
    font-weight: 900;
}

.camera-font {
    font-weight: 400;
    color: white;
}

.btn-responsive {
    padding: 10px 10px;
    font-size: 90%;
    line-height: 1.2;
    white-space: normal !important;
}

.gallery-header {
    color: black;
}

.model3D  {
    background-color: rgba(255, 255, 255, 0.0); /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 500px;
}

X3D, x3d {
    border-radius: 5px;
    border: 0px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%;
}

.btn-group {
	width: 100%;
}

.btn-group .btn {
	width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #main_3d_image {
        background-image: url(../assets/images/main_3D_768.jpg);
        background-repeat: no-repeat;
        height: 288px;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    .navbar_coca_cola {
        min-height: 90px;
    }

    .footer {
        height: 60px;
    }

    .navbar-text > a {
        font-size: 12px;
    }

    .navbar-text > p {
        font-size: 13px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #main_3d_image {
        background-image: url(../assets/images/main_3D_970.jpg);
        height: 363px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #main_3d_image {
        background-image: url(../assets/images/main_3D_1400.jpg);
        height: 524px;
    }

}
